body {
    background-color: black;
    color: white;
}

.titulo {
    color: lightblue;
}

.tarefas {
    margin: 10px;
    cursor: pointer;
}

.feito {
    color: lightgray;
    text-decoration: line-through;
}

#tarefaNova {
    margin-bottom: 10px;
}